.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: black;
}
.direction{
    font-family: sans-serif;
    font-size: 16px;
    color: black;
    background-color: lightyellow;
}
.name{}
.direction.hover {
    background-color: lightblue;
    color: red;
}
.LUBOV{
    color: violet;
}
.GAEV{
    color: indigo;
}
.ANYA{
    color: blue;
}
.LOPAKHIN{
    color: green;
}
.TROFIMOV{
    color:orange;
}

table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    border-color: red;
    text-align: center;
    padding: 10px;
    margin: 1px;
}