.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: black;
}
.direction{
    font-family: sans-serif;
    font-size: 16px;
    color: black;
    background-color: lightyellow;
}
.name{}
.direction:hover {
    background-color: lightblue;
    color: red;
}
.LUBOV{
    color: violet;
}
.LUBOV:hover{
    text-shadow: 3px 3px red;
    filter:blur(0.25px);
    border: 1px solid black;
    width: fit-content;
}
.GAEV{
    color: indigo;
}
.GAEV:hover{
    text-shadow:3px 3px rosybrown ;
    filter:blur(00.25px);
    border:1px solid black ;
    width: fit-content;
}
.ANYA{
    color: blue;
}
.ANYA:hover{
    text-shadow:3px 3px sandybrown ;
    filter:blur(00.25px);
    border:1px solid black ;
    width: fit-content;
}
.LOPAKHIN{
    color: green;
}
.LOPAKHIN:hover{
    text-shadow:3px 3px orchid ;
    filter:blur(00.25px);
    border:1px solid black ;
    width: fit-content;
}
.TROFIMOV{
    color:orange;
}
.TROFIMOV:hover{
    text-shadow:3px 3px gray ;
    filter:blur(00.25px);
    border:1px solid black ;
    width: fit-content;
}

.navbar{
    background-color: antiquewhite;
    color: beige;
    text-align:justify;
    padding: 8px;
    height: 150px;
    width: 100px;
    display: contents;
    justify-content: space-around;
}
.navbar:hover{
    color: chartreuse;
}
.image{
    height: 275px;
    width: 165px;
}
ul.navbar-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
  
  }
  ul.navbar-horizontal li {
    float:left;
    color:#000;
    background-color:beige;
  } 
  ul.navbar-horizontal a {
    display:block;
    padding:8px
  }
  ul.navbar-horizontal a:hover {  
    background-color:blue;
    color:white;
  }

table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    border-color: red;
    text-align: center;
    padding: 10px;
    margin: 1px;
}